.task {
    width: 100%;
    display: grid;
    grid-template-columns: 50px minmax(0, 1fr) 50px;
    padding: 15px 10px;
    background-color: white;
    color: var(--bgc);
    border-radius: 5px;
    align-items: center;
    margin-bottom: 20px;

    @media (width <= 767px) {
        grid-template-columns: 40px minmax(0, 1fr) 40px;
    }

    &Button {
        &Done, &Edit, &Delete {
            border: none;
            background: no-repeat center center;
            background-size: 60% 60%;
            background-color: transparent;
            padding: 0;
            transition: opacity 0.3s;
            border: 1px solid var(--color-gray);
            padding: 5px;
            box-sizing: content-box;
            border-radius: 50%;
            height: 30px;
            width: 30px;

            &:disabled {
                cursor: default;
            }

            &:hover {
                opacity: 0.7;
            }

            @media (width <= 767px) {
                height: 20px;
                width: 20px;
            }
        }

        &Done {
            background-image: url("./images/check.svg");
            margin-right: 8px;

            &:disabled {
                opacity: 0;
            }

            &Edit {
                margin-left: 8px;
                margin-right: 0;
            }
        }

        &Edit {
            background-image: url("./images/edit.svg");
            margin-left: 8px;
        }

        &Delete {
            background-image: url("./images/trash.svg");
        }
    }

    &TitleInput {
        width: 100%;
        font-weight: 700;
        font-size: 1.5em;
        border: none;

        &:focus-visible {
            outline: 2px var(--color-accent) solid;
            outline-offset: 1px;
        }

        @media (width <= 767px) {
            font-size: 0.85em;
        }
    }

    &Title {
        text-wrap: wrap;
        min-width: 0;
        text-wrap: wrap;
        word-wrap: break-word;
        overflow-wrap: break-word;
        hyphens: auto;
        line-height: 1.1;

        @media (width <= 767px) {
            font-size: 0.85em;
        }
    }
}