@use '../../styles/helpers' as *;

.task {
    width: 100%;
    display: grid;
    grid-template-columns: rem(50) minmax(0, 1fr) rem(50);
    padding: rem(15) rem(10);
    background-color: white;
    color: var(--bgc);
    border-radius: rem(5);
    align-items: center;
    margin-bottom: rem(20);

    @media (width <= 767px) {
        grid-template-columns: rem(40) minmax(0, 1fr) rem(40);
    }

    &Button {
        &Done, &Edit, &Delete {
            border: none;
            background: no-repeat center center;
            background-size: 60% 60%;
            background-color: transparent;
            padding: 0;
            transition: opacity 0.3s;
            border: rem(1) solid var(--color-gray);
            padding: rem(5);
            box-sizing: content-box;
            border-radius: 50%;
            height: rem(30);
            width: rem(30);

            &:disabled {
                cursor: default;
            }

            @include hover {
                opacity: 0.7;
            }

            @media (width <= 767px) {
                height: rem(20);
                width: rem(20);
            }
        }

        &Done {
            background-image: url("./images/check.svg");
            margin-right: rem(8);

            &:disabled {
                opacity: 0;
            }

            &Edit {
                margin-left: rem(8);
                margin-right: 0;
            }
        }

        &Edit {
            background-image: url("./images/edit.svg");
            margin-left: rem(8);
        }

        &Delete {
            background-image: url("./images/trash.svg");
        }
    }

    &TitleInput, &DescriptionInput {
        width: 100%;
        border: none;
        height: rem(28);
        display: flex;
        align-items: center;

        &:focus-visible {
            outline: rem(2) var(--color-accent) solid;
            outline-offset: rem(1);
        }
    }

    &TitleInput {
        font-weight: 700;
        font-size: rem(24);

        @media (width <= 767px) {
            font-size: rem(16);
        }
    }

    &DescriptionInput {
        font-size: rem(16);

        @media (width <= 767px) {
            font-size: rem(14);
        }
    }

    &Title, &Description {
        min-width: 0;
        text-wrap: wrap;
        overflow-wrap: anywhere;
        line-height: 1.1;
        min-height: rem(28);
        display: flex;
        align-items: center;
    }

    &Title {
        font-size: rem(24);

        @media (width <= 767px) {
            font-size: rem(16);
        }
    }

    &Description {
        font-size: rem(16);

        @media (width <= 767px) {
            font-size: rem(14);
        }
    }
}

.hr {
    margin-block: rem(5);
}