@use '../../styles/helpers' as *;

.todo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    row-gap: rem(20);

    @media (width <= 1023px) {
        width: 90%;
    }

    &Content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

.filterButton {
    background: none;
    border: none;
    color: var(--color-light);
    transition: color 0.3s;
    align-self: end;
    margin-bottom: rem(10);

    @include hover {
        color: var(--color-accent);
    }
}