@use '../../styles/helpers' as *;

.todo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    row-gap: rem(20);

    @media (width <= 1023px) {
        width: 90%;
    }

    &Content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}