:root {
    --color-accent: #00B7B8;
    --color-text: white;
    --color-gray: #4E4E50;
    --color-accent-alt: #6F2232;
    --bgc: #1A1A1D;
    
}

body {
    background-color: var(--bgc);
    color: var(--color-text);
    font-family: 'Roboto', sans-serif;
}

.mainContainer {
    display: flex;
    justify-content: center;
}